

#cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}
.card{
    margin-bottom: 10px;
    width: 9.5rem;
    border-color: #eeba30 !important;
    background-color: #740001 !important;
    box-sizing: border-box;
}

#search{
    margin-top: 10px;
}

.card-body {
    padding: 0 !important;
}

h6{
    font-size: 15px !important;
    margin-bottom: 0 !important;
}

.card-body p{
    font-size: 14px;
    margin-bottom: 0 !important;
}

#cart{
    background-color: #000000;
    position: fixed;
    bottom: -1px;
    z-index: 100;
    width: 100%;
}

#btn_carrito{
    background-color: #d3a625;
    color: #352807;
    margin: 10px;
}

#num-prods{
    color: #352807;
}
#btn_total{
    background-color: #740001;
    margin: 10px;

}