#cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}
.card{
    margin-bottom: 10px;
    width: 10rem;
}

#search{
    margin-top: 10px;
}

.card-body {
    padding: 0 !important;
}

h6{
    font-size: 14px !important;
}

.card-body p{
    font-size: 12px;
    margin-bottom: 0 !important;
}


/* .card {
    margin: 10px 5px 5px;
    width: 13rem;
}

#cards-container{
    background-color: aqua;
}

@media (width <= 1000px) {
    #cards-container{
        background-color: red;
    }

    #carrito{
        display: none;
    }
} */